<h1>Editing Book</h1>

<%= form_with model: @list, url: '/books/' + @list.id.to_s, method: :post  do |f| %>
  
  <div class="field">
    <div class="Tile">Ttile</div>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <div class="Body">Body</div>
    <%= f.text_area :body %>
  </div>
  
  <div>
    <%= f.submit 'Update Book' %>
  </div>
  
  <div>
    <span class="list-show"><%=link_to "show", book_path(@list.id) %></span>
    <span> | </span>
    <span class="list-show"><%=link_to "back", "/books" %></span>
  </div>
  
<% end %>
  