<h1>Books</h1>
 <table>
  <tr><th>Ttile</th><th>Body</th><th></th><th></th><th></th></tr>
  <% @books.each do |book| %>
    <tr>
        <td><span class="book-title"><%= book.title %></span></td>
        <td><span class="book-body"><%= book.body %></span></td>
        <td><span class="book-show"><%=link_to "show", book_path(book.id) %></span></td>
        <td><span class="book-edit"><%=link_to "edit", edit_book_path(book.id) %></span></td>
        <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  <% end %>
</table>



<h2>New Book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
 <!-- form_with部分 -->
<%= form_with model: @book, url: '/books', method: :post  do |f| %>
  
  <div class="field">
    <div>Title</div>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <div>Body</div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>