<h1>Books</h1>
<table>
  <tr><th>Ttile</th><th>Body</th><th></th><th></th><th></th></tr>
  <% @lists.each do |list| %>
    <tr>
        <td><span class="list-title"><%= list.title %></span></td>
        <td><span class="list-body"><%= list.body %></span></td>
        <td><span class="list-show"><%=link_to "show", book_path(list.id) %></span></td>
        <td><span class="list-edit"><%=link_to "edit", edit_book_path(list.id) %></span></td>
        <td><%= link_to "destroy", book_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  <% end %>
</table>

<h2>New Book</h2>
<!-- form_with部分 -->
<%= form_with model: @list, url: '/books', method: :post  do |f| %>
  
  <div class="field">
    <div>Title</div>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <div>Body</div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>